body {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 215, 215, 0.6)
    ),
    url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
}

h1 {
  font-size: 54px;
  text-align: center;
  font-family: "Staatliches";
  color: #0db666;
}

h2 {
  margin: 0px;
  color: #0db666;
}

.displayWeeklyBudget {
  background-color: rgb(216, 216, 216);
  text-align: center;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
  font-family: "Staatliches";
  border: #baafad 1px solid;
}

.goButton {
  font-family: "Staatliches";
  background-color: honeydew;
}

.weeklyBudget {
  background-color: rgb(140, 224, 151);
  font-size: 19px;
  color: white;
  width: 70%;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-top: 7px;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 7px;
}

.dropDownContent {
  width: 70%;
  height: 50%;
  font-size: 20px;
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Patua One", cursive;
  text-align-last: center;
}

.downContainer {
  background-color: rgb(216, 216, 216);
  text-align: center;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
  font-family: "Staatliches";
  margin-top: 10px;
  border: #baafad 1px solid;
}

.Items {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  margin-top: 5px;
}

#earnings {
  position: relative;
  bottom: px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  font-size: 13px;
  padding-left: 10px;
}

.i {
  width: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.reciept {
  background-color: rgb(216, 216, 216);
  width: 70%;
  height: 20%;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(255, 215, 215, 0.6)
      ),
      url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
  }

  h1 {
    font-size: 39px;
    text-align: center;
    font-family: "Staatliches";
  }

  .displayWeeklyBudget {
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: #baafad 1px solid;
  }

  .weeklyBudget {
    background-color: rgb(140, 224, 151);
    width: 100%;
    /* height: 50px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }

  .goButton {
    font-family: "Staatliches";
  }

  .dropDownContent {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .downContainer {
    padding: 10px;
  }
}
